@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap');

body{
	font-family: montserrat;
	font-weight: 400;
}

h1{
	font-weight: 700;

}

a{
	text-decoration: none;
}

p{
	color: black;
}
/*INDEX*/

.menu{
	position: sticky;
	top: 0;
	z-index: 3;
	background-color: white;
}
.textoInicio{
	margin: 2rem 4rem 2rem 4rem;
	text-align: justify;
}
.footer{
	grid-area: footer;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
	color: white;
	padding: 3rem;
}
.footer a{
	text-decoration: none;
}


/*CONCURSOS*/
.textoDescriptivo{
	text-align: justify;
	margin-right: 3rem;
	margin-top: 4rem;
	margin-bottom: 4rem;

}


/*ESTUDIO*/
.textoIntegrantes{
	text-align: justify;
	margin-bottom: 2rem;
}

@media all and (max-width: 992px){

	.textoDescriptivo{
		text-align: justify;
		margin:2rem;

		}

}