@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&display=swap');
@import "variables";
@import "mediaqueries";


#header{
	color: map-get($colores,negro);
}

body{
	font-family: montserrat;
}

.textoInicio {
	font-family: montserrat;
	margin: 2rem;
	color: map-get($colores,negro);
	h1{
		font-weight: 700;
		font-size: 20px;
	}
	p{
		font-weight: 400;
		font-size: 1rem;
		text-align: justify;
	}
	
}

.contenedorImg1{
	@extend %imagenes;
}

.contenedorImg2{
	@extend %imagenes;
}

.footer{
	display: flex;
	justify-content: space-between;
	background-color: map-get($colores,negro);
	align-items: center;
	padding: 3rem;

	div{
		color: map-get($colores,blanco);
		a{
			text-decoration: none;
			&:hover{
				opacity: .5;
			}
		}
	}
}

.proyectos{

	a{
		text-decoration: none;
		color: map-get($colores,negro);
	}
	img{
		&:hover{
		opacity: .6;
	}
	}
}

.concursos{
	text-align: justify;
	margin-top: 2rem;
	div{
		font-weight: 700;
			p{
				font-weight: 400;
			}
		}
	}

.textoIntegrantes{
	text-align: justify;
}
